*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.yyz filter=lfs diff=lfs merge=lfs -text
*.yyp filter=lfs diff=lfs merge=lfs -text
*.gmx filter=lfs diff=lfs merge=lfs -text